server:
  port: 904

spring:
  application:
    name: notification-service
  config:
    import: optional:file:.env[.properties]

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${POSTGRES_HOST}/${POSTGRES_DB}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}

  liquibase:
    change-log: "classpath:db/changelog/db.changelog-master.yml"
    enabled: ${LIQUIBASE_ENABLE:true}

  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:none}
    properties:
      hibernate:
        show_sql: ${SHOW_SQL:true}
        format_sql: ${SHOW_SQL:true}
        use_sql_comments: true
        jdbc:
          time_zone: UTC
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

  mail:
    host: ${SMTP_HOST}
    port: ${SMTP_PORT}
    username: ${SMTP_USER}
    password: ${SMTP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: false
          starttls.enable: true
      debug: true
    transport:
      protocol: smtp

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVER_1},${KAFKA_BOOTSTRAP_SERVER_2},${KAFKA_BOOTSTRAP_SERVER_3}
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: project.task.manager.notification_service.kafka.serializer.TaskManagerDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: true
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

eureka:
  client:
    service-url:
      defaultZone: http://${DISCOVERY_SERVER_HOST}:${DISCOVERY_SERVER_PORT}/eureka/
  instance:
    prefer-ip-address: true

properties:
  kafka:
    consumer:
      error-handle-key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      error-handle-value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
    notification-type-mapping-list:
      - type: "project.task.manager.user_service.data.event.UserUpdatedEvent"
        class-name: "project.task.manager.notification_service.data.event.UserUpdatedEvent"
      - type: "project.task.manager.user_service.data.event.UserCreatedEvent"
        class-name: "project.task.manager.notification_service.data.event.UserCreatedEvent"
    userCreated:
      topic: ${KAFKA_USER_CREATED_TOPIC}
      group: ${KAFKA_USER_CREATED_GROUP_ID}
    userUpdated:
      topic: ${KAFKA_USER_UPDATED_TOPIC}
      group: ${KAFKA_USER_UPDATED_GROUP_ID}
    userDeleted:
      topic: ${KAFKA_USER_DELETED_TOPIC}
      group: ${KAFKA_USER_DELETED_GROUP_ID}
    header-type-name: "__TypeId__"

logging:
  level:
    org.springframework.jdbc.datasource.DriverManagerDataSource: DEBUG
    org.springframework.orm.jpa: INFO
    org.springframework.transaction: INFO
    org.springframework.web: INFO

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics

notification:
  email:
    emailSender: ${EMAIL_SENDER}

users.client:
  host: ${USER_SERVICE_HOST}
  name: ${USER_SERVICE_NAME}