server:
  port: 904
  servlet:
    context-path: /notification-service
spring:
  application:
    name: notification-service
  config:
    import: optional:file:.env[.properties]
  cloud:
    config:
      uri: http://${DISCOVERY_SERVER_HOST}:${DISCOVERY_SERVER_PORT}
      fail-fast: true
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVER_1},${KAFKA_BOOTSTRAP_SERVER_2},${KAFKA_BOOTSTRAP_SERVER_3}
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.ByteArrayDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: true
        retry.backoff.ms: 2000
        max-poll-records: 1000
        max-poll-interval-ms: 600000
        session-timeout-ms: 15000
        heartbeat-interval-ms: 5000
        fetch-max-bytes: 52428800
        auto-commit-enabled: true
        auto-commit-interval-ms: 5000
        auto-offset-reset: earliest
        retry-backoff-ms: 2000
        max-retries: 5

logging:
  level:
    root: INFO

eureka:
  client:
    service-url:
      defaultZone: http://${DISCOVERY_SERVER_HOST}:${DISCOVERY_SERVER_PORT}/eureka/
  instance:
    prefer-ip-address: false
    hostname: ${spring.application.name}
    instance-id: ${HOST_NAME:notification-service}:${APP_NAME:notification-service}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics
