server:
  port: 904

spring:
  application:
    name: notification-service
  config:
    import: optional:file:.env[.properties]

  mail:
    host: ${SMTP_HOST}
    port: ${SMTP_PORT}
    username: ${SMTP_USER}
    password: ${SMTP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVER_1},${KAFKA_BOOTSTRAP_SERVER_2},${KAFKA_BOOTSTRAP_SERVER_3}
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: project.task.manager.notification_service.kafka.serializer.TaskManagerDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: true
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

eureka:
  client:
    service-url:
      defaultZone: http://${DISCOVERY_SERVER_HOST}:${DISCOVERY_SERVER_PORT}/eureka/
  instance:
    prefer-ip-address: true

properties:
  kafka:
    consumer:
      error-handle-key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      error-handle-value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
    notification-type-mapping-list:
      - type: "UserUpdatedEvent"
        class-name: "project.task.manager.notification_service.data.event.UserUpdatedEvent"
      - type: "UserCreatedEvent"
        class-name: "project.task.manager.notification_service.data.event.UserCreatedEvent"
    userCreated:
      topic: ${KAFKA_USER_CREATED_TOPIC}
      group: ${KAFKA_USER_CREATED_GROUP_ID}
    userUpdated:
      topic: ${KAFKA_USER_UPDATED_TOPIC}
      group: ${KAFKA_USER_UPDATED_GROUP_ID}
    userDeleted:
      topic: ${KAFKA_USER_DELETED_TOPIC}
      group: ${KAFKA_USER_DELETED_GROUP_ID}
    header-type-name: "__TypeId__"