.idea
.gigaide
.gradle
build.gradle
gradlew
gradlew.bat
settings.gradle
.gitattributes
Dockerfile

DockerConfig/elk/elasticsearch/.dockerignore
DockerConfig/elk/extensions/
DockerConfig/elk/kibana/.dockerignore
DockerConfig/elk/logstash/.dockerignore
DockerConfig/elk/setup/.dockerignore
