.idea
.gigaide

DockerConfig/elk/elasticsearch/.dockerignore
DockerConfig/elk/extensions/
DockerConfig/elk/kibana/.dockerignore
DockerConfig/elk/logstash/.dockerignore
DockerConfig/elk/setup/.dockerignore
