server:
  port: 903
  servlet:
    context-path: /project-service

spring:
  application:
    name: project-service
  config:
    import: optional:file:.env[.properties]
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${POSTGRES_HOST}/${POSTGRES_DB}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}

  liquibase:
    change-log: "classpath:db/changelog/db.changelog-master.yml"
    enabled: ${LIQUIBASE_ENABLE:true}

  servlet:
    multipart:
      enabled: true
      max-file-size: 1MB
      max-request-size: 2MB
      resolve-lazily: false

users.client:
  host: ${USER_SERVICE_HOST}
  name: ${USER_SERVICE_NAME}

jwt:
  accessPublic: ${JWT_ACCESS_PUBLIC_KEY}
  refreshPublic: ${JWT_REFRESH_PUBLIC_KEY}

  logging:
    level:
      root: INFO
      project.task.manager.user_service.aspect: INFO

eureka:
  client:
    service-url:
      defaultZone: http://${DISCOVERY_SERVER_HOST}:${DISCOVERY_SERVER_PORT}/eureka/
  instance:
    prefer-ip-address: false

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics